.env
/server/db/
/server/conf/templates/
/server/conf/apache-enable/
/server/conf/certs/
/wp-admin/
/wp-includes/
/wp-content/plugins/*
!/wp-content/plugins/smart/
/wp-content/themes/*
!/wp-content/themes/botiga-child/
/wp-content/index.php
/wp-content/languages
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php